[user]
	signingkey = ~/.ssh/id_ed25519.pub
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.config/git/allowed_signers
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[core]
	editor = nvim
[merge]
	tool = nvimdiff2
[mergetool]
	prompt = false
	keepBackup = false
