[submodule "editorconfig-vim"]
	path = .vim/pack/plugins/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "nerdtree"]
	path = .vim/pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim-airline"]
	path = .vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim-airline-themes"]
	path = .vim/pack/plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim-gitgutter"]
	path = .vim/pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "ale"]
	path = .vim/pack/plugins/start/ale
	url = https://github.com/dense-analysis/ale
[submodule "vim-monokai-tasty"]
	path = .vim/pack/plugins/start/vim-monokai-tasty
	url = https://github.com/patstockwell/vim-monokai-tasty
[submodule "rust.vim"]
	path = .vim/pack/plugins/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "tagbar"]
	path = .vim/pack/plugins/start/tagbar
	url = https://github.com/preservim/tagbar
