[submodule "nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "awesome-terminal-fonts"]
	path = awesome-terminal-fonts
	url = https://github.com/gabrielelana/awesome-terminal-fonts.git
